<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests/unit/</directory>
            <directory suffix="Test.php">./tests/integration/</directory>
            <directory suffix="Test.php">./tests/acceptance/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
            <exclude>
                <file>./app/Http/routes.php</file>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_LOG" value="syslog"/>
        <env name="DB_CONNECTION" value="testing"/>
        <env name="DB_DATABASE" value="testing_condor"/>
        <env name="DB_USERNAME" value="testing_condor"/>
        <env name="DB_PASSWORD" value="testing_condor"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
    <filter>
      <whitelist>
        <directory suffix=".php">app/</directory>
        <exclude>
          <directory suffix=".js">public/</directory>
        </exclude>
      </whitelist>
    </filter>
</phpunit>
